@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-background-hover: var(--background-hover);
  --color-button: var(--button);
  --color-text-primary: var(--text-primary);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-herald: var(--herald);
  --color-guardian: var(--guardian);
  --color-crusader: var(--crusader);
  --color-archon: var(--archon);
  --color-legend: var(--legend);
  --color-ancient: var(--ancient);
  --color-divine: var(--divine);
  --color-immortal: var(--immortal);
}

@layer base {
  :root {
    --primary: #b93a29;
    --secondary: #e6b53a;
    --tertiary: #8d8e8f;
    --background-primary: #17191c;
    --background-secondary: #19191a;
    --background-tertiary: #2d2d2d;
    --background-hover: #282829;
    --button: #8e2b1f;
    --text-primary: #cdcdce;
    --border-primary: #2e3138;
    --border-secondary: #8a2f23;
    --border-tertiary: #39201e;
    --herald: #6e8aa4;
    --guardian: #3abd6a;
    --crusader: #32d384;
    --archon: #398bfa;
    --legend: #7066a4;
    --ancient: #883fc0;
    --divine: #ed6995;
    --immortal: #d69a2d;
  }

  body {
    @apply bg-background-primary text-text-primary;
  }

  .hero-attribute-str {
    @apply text-red-500;
  }

  .hero-attribute-agi {
    @apply text-green-500;
  }

  .hero-attribute-int {
    @apply text-blue-500;
  }

  .hero-attribute-uni {
    @apply text-purple-500;
  }

  .hero-stat-bar {
    @apply bg-tertiary relative h-2 overflow-hidden rounded-full;
  }

  .hero-stat-bar-fill {
    @apply absolute top-0 left-0 h-full rounded-full;
  }

  .hero-card-grid {
    @apply grid w-full grid-cols-5 gap-5 p-10;
  }

  .tier-tab-active {
    @apply border-secondary -translate-y-0.5 border-b-2;
  }

  .gold-shadow-text {
    text-shadow: 0 0 5px rgba(230, 181, 58, 0.5);
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  .card-effect {
    @apply relative cursor-pointer overflow-hidden transition-transform duration-300 hover:-translate-y-2 hover:shadow-sm hover:shadow-amber-200;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-6%);
  }
  50% {
    transform: translateY(6%);
  }
}
